<div class="character-area">
  <select id="sort-system-select">
    <option value="none">システム絞り込み</option>
    <option value="cthulhu">クトゥルフ神話TRPG</option>
    <option value="SW2.5">ソードワールド2.5(未実装)</option>
    <option value="shinobigami">シノビガミ</option>
  </select>
  <div class="character-window">
    <h3 class="character-title">既存キャラクター一覧</h3>
    <ul class="character-list">
      <% cthulhus.each do |coc| %>
        <li class="list cthulhu">
          <%= link_to cthulhu_path(coc.id) do %>
            <%= image_tag coc.image.variant(resize: "150x150"), class: "character-sample-image" if coc.image.attached? %>
            <p><%= coc.name %></p>
            <p>クトゥルフ神話TRPG</p>
            <p><%= coc.created_at %></p>
          <% end %>
        </li>
      <% end %>
      <% shinobis.each do |ninja| %>
        <li class="list shinobi">
          <%= link_to shinobi_path(ninja.id) do %>
            <%= image_tag ninja.image.variant(resize: "150x150"), class: "character-sample-image" if ninja.image.attached? %>
            <p><%= ninja.name %></p>
            <p>シノビガミ</p>
            <p><%= ninja.created_at %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>