<div class="wrapper">

  <%= render "side-bar"%>

  <div class="user-page">

    <%= form_with url: search_users_path, local: true, method: "get", class: "search-form" do |form| %>
      <%= form.text_field :keyword, placeholder: "アカウント名でユーザー検索", class: "search-text" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>

    <div class="character-window">
      <h3 class="character-title">既存キャラクター一覧</h3>
      <ul class="character-list">
        <% @cthulhus.each do |coc| %>
        <li class="list">
          <%= link_to cthulhu_path(coc.id) do %>
            <%= image_tag coc.image, class: "character-sample-image" if coc.image.attached? %>
            <p><%= coc.name %></p>
          <p>クトゥルフ神話TRPG</p>
          <p><%= coc.created_at %></p>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<%= render "layouts/footer" %>