<%= form_with model: cthulhu, class: "cthulhu-form", local: true do |form| %>

  <%= render 'layouts/errors', model: form.object %>

  <div class="base-status">
    <table class="cthulhu-status">
      <tr>
        <th class="form-label">プレイヤー名</th>
        <% if cthulhu.id == nil || cthulhu.user.id == current_user.id %>
          <th colspan="3"><input type="text" value="<%= current_user.nickname %>" readonly class="person"></th>
        <% else %>
          <th colspan="3"><input type="text" value="<%= cthulhu.user.nickname %>" readonly class="person"></th>
        <% end %>
        <th colspan="2" class="large-label">設定</th>
        <td class="image-area"rowspan="7"><div  class="image-area"><%= image_tag cthulhu.image.variant(resize: "250x200") if cthulhu.image.attached? %></div><br>
         <label>
            <% unless @cthulhu.image.attached? %>
              <span class="file-select-button">立ち絵</span>
              <%= form.file_field :image, class: "hidden" %>
            <% end %>
          </label>
        </td>
      </tr>
      <tr>
        <th class="form-label">名前</th>
        <td colspan="3"><%= form.text_field :name, class: "person" %></td>
        <td colspan="2" rowspan="6"><%= form.text_area :origin, rows: "10", class: "long-person"%></td>
      </tr>
      <tr>
        <th class="form-label">職業</th>
        <td colspan="3"><%= form.text_field :job, class: "person" %></td>
      </tr>
      <tr>
        <th class="form-label">年齢</th>
        <td><%= form.text_field :age, class: "short-person" %></td>
        <td rowspan="4"><%= form.text_area :items, rows: "4", placeholder: "所持品", class: "person" %></td>
      </tr>
      <tr>
        <th class="form-label">性別</th>
        <td><%= form.text_field :sex, class: "short-person" %></td>
      </tr>
      <tr>
        <th class="form-label">職業P</th>
        <td><input type="text" class="short-person" id= "job-points" ></td>
      </tr>
      <tr>
        <th class="form-label">趣味P</th>
        <td><input type="text" class="short-person" id="hobby-points" ></td>
      </tr>
    </table>
  </div>
  <div class="parameter-status">
    <div class="label-flex">
      <h3>ステータス</h3>
      <input type="button" value="ランダム決定" class="hidden-btn" id="cthulhu-random-btn"></h3>
    </div>
    <table class="cthulhu-status">
      <tr>
        <th class="short-label">STR</th>
        <th class="short-label">CON</th>
        <th class="short-label">POW</th>
        <th class="short-label">DEX</th>
        <th class="short-label">APP</th>
        <th class="short-label">SIZ</th>
        <th class="short-label">EDU</th>
        <th class="short-label">INT</th>
        <th class="short-label">アイデア</th>
        <th class="short-label">幸運</th>
        <th class="short-label">知識</th>
        <th class="short-label">SAN値</th>
        <th class="short-label">耐久力</th>
        <th class="short-label">MP</th>
        <th class="short-label">DB</th>
      </tr>
      <tr>
        <td><%= form.text_field :str, class: "short-column", id: "str"%></td>
        <td><%= form.text_field :con, class: "short-column", id: "con" %></td>
        <td><%= form.text_field :pow, class: "short-column", id: "pow" %></td>
        <td><%= form.text_field :dex, class: "short-column", id: "dex" %></td>
        <td><%= form.text_field :app, class: "short-column", id: "app" %></td>
        <td><%= form.text_field :siz, class: "short-column", id: "siz" %></td>
        <td><%= form.text_field :edu, class: "short-column", id: "edu" %></td>
        <td><%= form.text_field :int, class: "short-column", id: "int" %></td>
        <td><%= form.text_field :idea, class: "short-column", id: "idea" %></td>
        <td><%= form.text_field :luck, class: "short-column", id: "luck" %></td>
        <td><%= form.text_field :knowledge, class: "short-column", id: "knowledge" %></td>
        <td><%= form.text_field :san, class: "short-column", id: "san" %></td>
        <td><%= form.text_field :life_points, class: "short-column", id: "life-points" %></td>
        <td><%= form.text_field :magick_points, class: "short-column", id: "magick-points" %></td>
        <td><%= form.text_field :damage_bonus, class: "short-column", id: "damage-bonus" %></td>
      </tr>
    </table>
  </div>
  <h3>技能一覧</h3>
  <div class="skill-status">
    <table>
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>技能</th>
          <th>値</th>
          <th>技能</th>
          <th>値</th>
          <th>技能</th>
          <th>値</th>
          <th>技能</th>
          <th>値</th>
          <th>技能</th>
          <th>値</th>
        </tr>
        <tr>
          <th>目星</th>
          <td><%= form.text_field :find_hidden, placeholder: "25", class: "short-column" %></td>
          <th>運転</th>
          <td><%= form.text_field :driving, placeholder: "20", class: "short-column" %></td>
          <th>医学</th>
          <td><%= form.text_field :medicine, placeholder: "5", class: "short-column" %></td>
          <th>言いくるめ</th>
          <td><%= form.text_field :say,placeholder: "5", class: "short-column" %></td>
          <th>こぶし</th>
          <td><%= form.text_field :punch, placeholder: "50", class:"short-column" %></td>
        </tr>
        <tr>
          <th>聞き耳</th>
          <td><%= form.text_field :hearing, placeholder: "25", class: "short-column" %></td>
          <th>操縦</th>
          <th></th>
          <th>化学</th>
          <td><%= form.text_field :chemistry, placeholder: "1", class: "short-column" %></td>
          <th>説得</th>
          <td><%= form.text_field :persuade, placeholder: "15", class: "short-column" %></td>
          <th>キック</th>
          <td><%= form.text_field :kick, placeholder:"25", class: "short-column" %></td>
        </tr>
        <tr>
          <th>応急手当て</th>
          <td><%= form.text_field :first_aid, placeholder: "30", class:"short-column" %></td>
          <td><%= form.text_field :control_1, placeholder: "操縦", class: "short-person" %></td>
          <td><%= form.text_field :control_1_value, placeholder: "1", class: "short-column" %></td>
          <th>薬学</th>
          <td><%= form.text_field :pharmacy, placeholder: "1", class: "short-column" %></td>
          <th>信用</th>
          <td><%= form.text_field :credit, placeholder: "10", class: "short-column" %></td>
          <th>頭突き</th>
          <td><%= form.text_field :headbutt, placeholder: "10", class: "short-column" %></td>
        </tr>
        <tr>
          <th>精神分析</th>
          <td><%= form.text_field :therapy, placeholder:"1",  class: "short-column" %></td>
          <td><%= form.text_field :control_2, placeholder: "操縦", class: "short-person" %></td>
          <td><%= form.text_field :control_2_value, placeholder: "1", class: "short-column" %></td>
          <th>生物学</th>
          <td><%= form.text_field :biology, placeholder: "1", class: "short-column" %></td>
          <th>心理学</th>
          <td><%= form.text_field :psychology, placeholder: "5", class: "short-column" %></td>
          <th>組み付き</th>
          <td><%= form.text_field :assembled, placeholder: "25", class: "short-column" %></td>
        </tr>
        <tr>
          <th>登攀</th>
          <td><%= form.text_field :climbing, placeholder: "40", class: "short-column" %></td>
          <td><%= form.text_field :control_3, placeholder: "操縦", class: "short-person" %></td>
          <td><%= form.text_field :control_3_value, placeholder: "1", class: "short-column" %></td>
          <th>物理学</th>
          <td><%= form.text_field :physics, placeholder: "1", class: "short-column" %></td>
          <th>値切り</th>
          <td><%= form.text_field :price_cut, placeholder: "5", class: "short-column" %></td>
          <th>ﾏｰｼｬﾙｱｰﾂ</th>
          <td><%= form.text_field :martial_arts, placeholder: "1", class: "short-column" %></td>
        </tr>
        <tr>
          <th>跳躍</th>
          <td><%= form.text_field :leap, placeholder: "25", class: "short-column" %></td>
          <th>乗馬</th>
          <td><%= form.text_field :horse_ridding, placeholder: "5", class: "short-column" %></td>
          <th>天文学</th>
          <td><%= form.text_field :astronomy, placeholder: "1", class: "short-column" %></td>
          <th>母国語</th>
          <th></th>
          <th>ナイフ</th>
          <td><%= form.text_field :knife, placeholder: "20", class: "short-column"%></td>
        </tr>
        <tr>
          <th>投擲</th>
          <td><%= form.text_field :throwing, placeholder: "25", class: "short-column" %></td>
          <th>重機械操作</th>
          <td><%= form.text_field :heavy_machine, placeholder: "1", class: "short-column" %></td>
          <th>考古学</th>
          <td><%= form.text_field :archeology, placeholder: "1", class: "short-column" %></td>
          <td><%= form.text_field :native_language, placeholder: "母国語", class: "short-person" %></td>
          <td><%= form.text_field :native_language_value, class: "short-column", id: "native-language" %></td>
          <th>日本刀</th>
          <td><%= form.text_field :japanese_sword, placeholder: "15", class: "short-column" %></td>
        </tr>
        <tr>
          <th>回避</th>
          <td><%= form.text_field :avoidance, class: "short-column", id: "avoidance" %></td>
          <th>機械修理</th>
          <td><%= form.text_field :machine_repair, placeholder: "20", class: "short-column" %></td>
          <th>歴史</th>
          <td><%= form.text_field :history, placeholder: "20", class: "short-column" %></td>
          <th>ほかの言語</th>
          <td></td>
          <th>杖</th>
          <td><%= form.text_field :cane, placeholder: "25", class: "short-column" %></td>
        </tr>
        <tr>
          <th>隠す</th>
          <td><%= form.text_field :conceal, placeholder:"15", class: "short-column" %></td>
          <th>電気工学</th>
          <td><%= form.text_field :electrical_engineering, placeholder: "1", class: "short-column" %></td>
          <th>人類学</th>
          <td><%= form.text_field :anthropology, placeholder: "1", class: "short-column" %></td>
          <td><%= form.text_field :language_1, placeholder: "ほかの言語", class: "short-person" %></td>
          <td><%= form.text_field :language_1_value, placeholder: "1", class: "short-column" %></td>
          <th>拳銃</th>
          <td><%= form.text_field :handgun, placeholder: "20", class: "short-column" %></td>
        </tr>
        <tr>
          <th>隠れる</th>
          <td><%= form.text_field :hide, placeholder: "10", class: "short-column" %></td>
          <th>ｺﾝﾋﾟｭｰﾀ</th>
          <td><%= form.text_field :computer, placeholder: "1", class: "short-column" %></td>
          <th>地質学</th>
          <td><%= form.text_field :geology, placeholder: "1", class: "short-column" %></td>
          <td><%= form.text_field :language_2, placeholder: "ほかの言語", class: "short-person" %></td>
          <td><%= form.text_field :language_2_value, placeholder: "1", class: "short-column" %></td>
          <th>クトゥルフ神話</th>
          <td><%= form.text_field :mythology, placeholder: "0", class: "short-column" %></td>
        </tr>
        <tr>
          <th>忍び歩き</th>
          <td><%= form.text_field :stealth, placeholder: "10", class: "short-column" %></td>
          <th>図書館</th>
          <td><%= form.text_field :library, placeholder: "25", class: "short-column" %></td>
          <th>博物学</th>
          <td><%= form.text_field :natural_history, placeholder: "1", class: "short-column" %></td>
          <th>芸術</th>
          <th></th>
        </tr>
        <tr>
          <th>変装</th>
          <td><%= form.text_field :disguise, placeholder: "1", class: "short-column" %></td>
          <th>写真術</th>
          <td><%= form.text_field :photography, placeholder: "10", class: "short-column" %></td>
          <th>経理</th>
          <td><%= form.text_field :accounting, placeholder: "10", class: "short-column"%></td>
          <td><%= form.text_field :art, placeholder: "芸術", class: "short-person" %></td>
          <td><%= form.text_field :art_value, placeholder: "5", class: "short-column" %></td>
        </tr>
        <tr>
          <th>追跡</th>
          <td><%= form.text_field :traching, placeholder: "10", class: "short-column" %></td>
          <th>鍵開け</th>
          <td><%= form.text_field :picking, placeholder: "1", class: "short-column"%></td>
          <th>法律</th>
          <td><%= form.text_field :law, placeholder: "5", class: "short-column"%></td>
          <th>制作</th>
          <td></td>
        </tr>
        <tr>
          <th>ﾅﾋﾞｹﾞｰﾄ</th>
          <td><%= form.text_field :navigate, placeholder: "10", class: "short-column" %></td>
          <th>水泳</th>
          <td><%= form.text_field :swimming, placeholder: "25", class: "short-column" %></td>
          <th>オカルト</th>
          <td><%= form.text_field :occult, placeholder: "5", class: "short-column" %></td>
          <td><%= form.text_field :work, placeholder: "制作", class: "short-person" %></td>
          <td><%= form.text_field :work_value, placeholder: "5", class: "short-column" %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-btn hidden-btn">
    <%= form.submit "保存する", class:"save-btn hidden-btn" %>
  </div>
  <% if current_user.id == @cthulhu.user_id %>
      <div class="form-btn hidden-btns">
        <%= link_to "編集する", edit_cthulhu_path(@cthulhu.id), class: "save-btn" %>
        <%= link_to "削除する", cthulhu_path(@cthulhu.id), method: "DELETE", class: "save-btn" %>
      </div>
    <% end %>
<% end %>