<div class="wrapper">
   <div class="new-character">
      <h6>新規キャラクター作成</h6>
      <%= form_with(model: @character, local: true) do |form| %>
        <div class="new-character-name">
          <%= form.text_field :name, placeholder: "新規キャラクター名", class: "name-form" %>
        </div>
        <div class="system-pull">
          <%= form.collection_select(:system_id, System.all, :id, :name, {} ,{class:"system-select"}) %>
        </div>
        <div class="create-character-btn">
          <label class="image-select">
            <span class="image-file">立ち絵選択</span>
            <%= form.file_field :image, class: "hidden" %>
          </label>
          <%= form.submit "新規作成", class: "create-btn" %>
        </div>
      <% end %>
      </div>
    </div>
</div>