<!DOCTYPE html>
<html>
  <head>
    <title>Charafile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-bar">
        <div class="left-contents">
          <div class="search-form">
            <input type="text" placeholder="アカウント名でユーザー検索" class="search-text">
            <input type="submit" value="検索" class="search-btn">
          </div>
          <div class="app-title">
            <h1><a href="/">キャラファイル</a></h1>
          </div>
        </div>
        <div class="right-contents">
        <%# ログインしているユーザーのマイページであればマイページの表記を消す %>
          <div class="mypage">
            <a href="/">マイページ</a>
          </div>
          <div class="relationship">
            <div class="follow-user">
              <a href="#">フォロー</a>
            </div>
            <div class="follower-user">
              <a href="#">フォロワー</a>
           </div>
          </div>
          <div class="log-out">
            <a href="#">ログアウト</a>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright Charafile 2021.</p>
    </footer>
  </body>
</html>
